<div class="container">
    <div class="navbar navbar-dark bg-danger">
        <div class="col-md-9">
            <div class="navbar-header">
                <a href="{% url 'home' %}" class="navbar-brand"> <text class="text-dark fs-2 fw-bold">&nbsp;CX DOJO</text></a>
            </div>
        </div>

        <div class="col-md-2 text-light">
            <strong>{{ user.username }}</strong>
        </div>
        <div class="col-md-1 text-light">
            &nbsp;&nbsp;&nbsp;
            <a href="{% url 'logout' %}" class="btn btn-outline-light">Log out</a>
        </div>
    </div>
</div>
